<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=sharifserver.mysql.database.azure.com;Database=agri_data;Uid=MSISharif@sharifserver;Pwd=MD74274385$" name="agri_data" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
