<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="database=agri_data;server=iotinagriculture-mysqldbserver.mysql.database.azure.com;uid=MSISharif@iotinagriculture-mysqldbserver;pwd=MD74274385$" name="IOTInAgriculture" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
